body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.result-container {
  text-align: center;
}

#results {
  margin-top: 30px;
  font-size: 20px;
}
